<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label>INITIAL INVESTMENT</label>
      <input type="number" for="initial-investment"  name="entredinitialInvestment" [(ngModel)]="entredinitialInvestment">
    </p>
    <p>
      <label>ANNUAL INVESTMENT</label>
      <input type="number" for="annual-investment" name="entredExpectedReturn" [(ngModel)]="entredExpectedReturn">
    </p>
    </div>

    <div class="input-group">
      <p>
        <label>EXPECTED RETURN</label>
        <input type="number"  for="expectedReturnexpectedReturn" name="entredLInvestment" [(ngModel)]="entredLInvestment" >
      </p>
      <div >
        <label>DURATUIN</label>
        <input type="number" for="duration" name="entredDuration" [(ngModel)]="entredDuration">
      </div>
    </div>
    <p class="">
      <button>CALCULATE</button>
    </p>
  </form>
