<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label>INITIAL INVESTMENT</label>
      <input type="number" for="initial-investment"  name="initialInvestment" [(ngModel)]="userInvestment.initialInvestment">
    </p>
    <p>
      <label>ANNUAL INVESTMENT</label>
      <input type="number" for="annual-investment" name="annualInvestment" [(ngModel)]="userInvestment.annualInvestment">
    </p>
    </div>

    <div class="input-group">
      <p>
        <label>EXPECTED RETURN</label>
        <input type="number"  for="expectedReturnexpectedReturn" name="expectedReturnexpectedReturn" [(ngModel)]="userInvestment.expectedReturn" >
      </p>
      <div >
        <label>DURATUIN</label>
        <input type="number" for="duration" name="duration" [(ngModel)]="userInvestment.duration">
      </div>
    </div>
    <p class="">
      <button>CALCULATE</button>
    </p>
  </form>
